<h1>Log In</h1>
<form action="/login" method="post">
  <div>
    <label for="email">Email:</label>
    <input type="text" name="user[email]">
  </div>
  <div>
     <label for="password">Password:</label>
    <input type="password" name="user[password]">
  </div>
  <input type="submit" value="Log In">

  <a href="http://localhost:9393/signup">Create Account </a>
