<div class="landing">

<form class="login_container" action="/login" method="post">
  <div class="login_header">
    <span id="login"><h3>Log In</h3></span>
  </div>
  <div class="login_form">
    <input id="email" type="text" name="user[email]" placeholder="Email">
    <br>
    <br>
    <input id="password" type="password" name="user[password]" placeholder="Password">
    <br>
    <br>
    <br>
    <input class="login_button" type="submit" value="Sign In">
      <div class="signup_link">
      <a href="http://localhost:9393/signup">Create Account </a>
      </div>
  </div>
</form>
</div>


