<div class="welcome"> Welcome to Poll Penguin! </div>


<h1>Log In</h1>
<form action="/login" method="post">
  <div class="login">
    <div>
    <label for="email">Email:</label>
    <input type="text" name="user[email]">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="user[password]">
  </div>
    <input type="submit" value="Log In">
  <div>
</div>
  <div class="signup_link">
  <a href="http://localhost:9393/signup">Create Account </a>
  </div>
</div>


<div class="penguingif">
  <iframe src="//giphy.com/embed/nnvkz5mkJQsIU?html5=true" width="480" height="360" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
  </iframe>
</div>
