<div class="background">
  <div class="landing">
    <form class="login_container" action="/signup" method="post">
      <div class="login_header">
        <span id="login"><h3>Sign Up</h3></span>
      </div>
      <div class="login_form">
        <input id="user" type="text" name="user[name]" placeholder="Full Name">
        <br>
        <input id="email" type="text" name="user[email]" placeholder="Email">
        <br>
        <input id="password" type="password" name="user[password]" placeholder="Password">
        <br>
        <br>

        <input class="signup_button" type="submit" value="Sign Up">
      </div>
    </form>
  </div>
</div>
