<!-- test 5
# show the polls the user created -->
<% user = current_user %>
<% if user.created_polls %>
<% user.created_polls.each do |poll| %>
  <a href="/polls/<%= poll.id %>"> <%= poll.name %> </a>
<% end %>
<!-- show the polls the user has taken: -->

<% end %>

<!-- options for taking a poll -->
take a poll:
<a href="/polls">Take a Poll</a>
create a poll:
<a href="/polls/new">Create a new Poll</a>
