<% if @poll %>
<div class="poll">
    <span class="question">
<label name="question">Question</label>
<input name="question" type="text">
<p></p>
<input id="addresponses" type="submit" value="Add Responses">
  </span>
</div>
<% end %>

