<% if @poll %>
<div class="poll">
    <span class="question">
      <form id="new_question" action="/questions" method="post">
      <label name="question">Question</label>
      <input name="question" type="text">
      <p></p>
      <input id="addresponses" type="submit" value="Add Responses">
    </form>
  </span>
</div>
<% end %>

