<label for="question-text">Poll Question</label>
<input id="question-text" type="text" name="question[text][]">
<p></p>
<label for="response">Possible Response</label>
<input type="text" name="questions[choices][]">
<p></p>
<label for="response">Possible Response</label>
<input type="text" name="questions[choices][]">
<p></p>
<label for="response">Possible Response</label>
<input type="text" name="questions[choices][]">
<p></p>
<label for="response">Possible Response</label>
<input type="text" name="questions[choices][]">
<p></p>
<label for="response">Possible Response</label>
<input type="text" name="questions[choices][]">
<p></p>
