<div class="container">

<h3>Create a New Poll</h3>

  <form id="new_poll_form" action="/polls" method="post">

    <label for="poll_name">Poll Name</label>
    <input id="poll_name" type="text" name="name">
    <p></p>

    <div id="poll_question">
      <%= erb :"Polls/_form", locals: { question: @question } %>
    </div>

    <button id="new_question" type="button">Add A New Question</button>

    <input type="submit" value="Save Survey">

  </form>


</div>
