<div class="container">

<h3>Create a New Poll</h3>

  <form id="new_poll" action="/polls" method="post">
    <label name="pollname">Poll Name</label>
    <input name="pollname" type="text">
    <p></p>

    <input id="addquestion" type="submit" value="Add Questions">
  </form>
</div>
