
<div class="response">
  <span class="question">
    <form id="new_response" action="/responses" method="post">
      <label name="response">Response</label>
      <input name="response" type="text">
      <p></p>
      <input id="addanotherresponse" type="submit" value="Add Another Response">
    </form>
  </span>
</div>

