<div class="landing"> 

	<div class="banner">
		<div class="landing_header">
			<span class="landing_title">Participate</span><br>
			<span class="landing_title">Evaluate</span><br>
			<span class="landing_title" style="font-weight: bold" >Create</span><br>
			<span class="landing_subtitle">..And that's just the tip of the iceberg</span>
		</div>
	</div>
</div>
